body {
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: slategrey;
    background-image: none;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden; 
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.438);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}